* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
  }


h2 {
    font-weight: lighter;
    text-align: center;
  }

.frame {
    display: flex;
}

.flip-card {
    background-color: transparent;
    width: 400px;
    height: 250px;
    perspective: 1000px; /*Remove this if you don't want the 3D effect*/
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip-card-front {
    border-radius: 1rem;
    background: rgb(232, 232, 232);
}

.flip-card-back {
    border-radius: 1rem;
    background: rgb(232, 232, 232);
    transform: rotateY(180deg);
}
/* ////////////// 
Small chip logo - But flips on both side

.card-shiny {
    top:40px;
    left: 40px;
    width: 70px;
    height: 45px;
    border-radius: 5px;
    background: #CCC;
    position: relative;
}

#card-shinier {
    top: 7px;
    width: 40px;
    height: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgb(232, 232, 232);
    position: relative;
} 
///////// */

#card-number {
    color: white;
    font-size: 2rem;
    letter-spacing: 5px;
    display: relative;
    text-align: center;
    margin-top: 20%;
}

#card-name {
    color: white;
    font-size: 1.3rem;
    margin-left: 50px;
    margin-top: 20px;
}

#card-validity {
    color:white;
    margin-top: -25px;
    margin-left: 280px;
}

#card-validity-format {
    font-weight: lighter;
    font-size: 0.6rem;
}

#card-validity-thru {
    font-size: 0.6rem;
    font-weight: lighter;
    margin-left: -30px;
    margin-top: -26px;
}

form {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin-left: 50%;
}

label {
    text-align: center;
    padding-top: 10px;
}

#form-side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#form-side-1{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width:50%;
}

#form-side-2{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 10px;
}

#btn-pay {
    color: white;
    font-weight: bold;
    margin-top: 20px;
    height: 40px;
    background: chocolate;
    border-radius: 10px;
    border: none;
    
}

#card-blackline {
    margin-top: 8%;
    width: 100%;
    height: 50px;
    background-color: rgb(80, 80, 80);
}

#card-whiteline {
    margin-top: 5%;
    margin-left: 10px;
    width: 75%;
    height: 40px;
    background-color: rgb(255, 255, 255);
}

#cvc {
    position: relative;
    top: -30px;
    left: 345px;
}

#card-shiny-mini {
    top:10px;
    left: 15px;
    width: 45px;
    height: 30px;
    border-radius: 5px;
    background: #CCC;
    position: relative;
}

#card-shinier-mini {
    top: 6px;
    width: 30px;
    height: 18px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgb(232, 232, 232);
    position: relative;    
}